* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-header {
  display: table;
  padding: 10px 20px;
  margin: 0 auto 80px;
  border: 2px solid black;
  font-size: 30px;
  position: relative;
  transition: var(--main-transition);
  z-index: 1;
}
.main-header:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.main-header::before,
.main-header::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-color);
}
.main-header::before {
  left: -30px;
}
.main-header::after {
  right: -30px;
}
.main-header:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-header:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
/* header start */
header {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .logo {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
  font-size: 26px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 50px;
  }
}
header .nav {
  display: flex;
}
header .nav a {
  font-size: 18px;
  padding: 0 30px;
  height: 72px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  header .nav {
    margin: 0 auto;
  }
  header .nav a {
    padding: 0 10px;
    font-size: 14px;
    height: 40px;
  }
}
header .nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
header .nav a:hover::before {
  left: 0;
}
header .nav a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
/* start landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -40px;
  z-index: -1;
  background-color: #ececec;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  position: relative;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 72px);
  padding-bottom: 120px;
}
.landing .text {
  flex: 1;
}
.landing .text h1 {
  font-size: 40px;
  margin: 0 0 5px;
  letter-spacing: -2px;
}
.landing .text p {
  line-height: 1.7;
  font-size: 23px;
  color: #666;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
  .landing .text p {
    font-size: 18px;
  }
}

.landing .image img {
  position: relative;
  width: 590px;
  animation: up-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}
.landing .arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  color: var(--main-color);
  transition: var(--main-transition);
}
.landing .arrow:hover {
  color: var(--main-color-alt);
}
.landing .arrow i {
  animation: bounce 1.5s infinite;
}
/* Start Articles */
.articles {
  padding: var(--main-padding) 0;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .article {
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition: var(--main-transition);
}
.articles .article:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .article img {
  max-width: 100%;
}
.articles .article .text {
  padding: 20px;
}
.articles .article .foot {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e6e6e6e7;
}
.articles .article .foot a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .article .foot i {
  color: var(--main-color);
}
.articles .article:hover .foot i {
  animation: moving-arrow 0.6s linear infinite;
}
/* Start Gallery */
.gallery {
  padding: var(--main-padding) 0;
  background-color: var(--section-background);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .box {
  padding: 15px;
  background-color: white;
}
.gallery .box .image {
  overflow: hidden;
  position: relative;
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  z-index: 2;
}
.gallery .box:hover .image::before {
  animation: flash 0.3s;
}
.gallery .box img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .box:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* Start Features */
.features {
  padding: var(--main-padding) 0;
}
.features .container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.features .box {
  text-align: center;
  border: 1px solid #ccc;
}
.features .box .image {
  position: relative;
}
.features .box .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.features .quality .image::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .time .image::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .passion .image::before {
  background-color: rgb(3 169 244/ 60%);
}
.features .box .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white;
  border-width: 0 0 170px 500px;
  transition: var(--main-transition);
}
.features .box:hover .image::after {
  border-width: 170px 500px 170px 0;
}
.features .box .image img {
  max-width: 100%;
  width: 100%;
}
.features .box h2 {
  font-size: 40px;
  display: table;
  margin: 0 auto;
  position: relative;
}
.features .box h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  width: calc(100% - 30px);
  height: 5px;
}
.features .quality h2::after {
  background-color: #f44036;
}
.features .time h2::after {
  background-color: #009688;
}
.features .passion h2::after {
  background-color: #03a9f4;
}
.features .box p {
  line-height: 2;
  margin: 30px 0;
}
.features .box a {
  transition: var(--main-transition);
  padding: 10px 30px;
  display: table;
  margin: 0 auto 30px;
  font-size: 22px;
  font-weight: bold;
  border-width: 3px;
  border-style: solid;
  border-radius: 6px;
  position: relative;
}
.features .box:hover a {
  color: white;
}
.features .quality a {
  color: #f44036;
  border-color: #f44036;
}
.features .time a {
  color: #009688;
  border-color: #009688;
}
.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
}
.features .box a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  transition: var(--main-transition);
  z-index: -1;
}

.features .quality a::before {
  background-color: #f44036;
}
.features .time a::before {
  background-color: #009688;
}
.features .passion a::before {
  background-color: #03a9f4;
}
.features .box:hover a::before {
  width: 100%;
}
/* Start Animation */
@keyframes up-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bounce {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translate(10px);
  }
}
@keyframes flash {
  100% {
    width: 100%;
    height: 100%;
  }
}
